*.pyc
.idea
.vscode
venv
bio-api/static
bio-api/__pycache__
bio-api/.pytest_cache
bio-api/media
bio-api/tests/__pycache__
.mypy_cache
bio-api/db.sqlite3
docker-compose.yml
bio-api/secretkey.txt
*.log
dump
databases/hgnc/hgnc_output.json
databases/hgnc/hgnc_dataset.tsv
databases/gtex/GTEx_transposed.csv
databases/gtex/pruebas/gtex_genes.txt
databases/gtex/pruebas
databases/bioapi_db.gz
databases/ensembl_gene/.Rhistory
databases/ensembl_gene/ensembl_gene_grch37.csv
databases/ensembl_gene/ensembl_gene_grch38.csv
borrar.py
