body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("dna-background.png");
	background-position: top;
	background-repeat: no-repeat;
	}


table {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    
    border-collapse: collapse; 
    }

th {     
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff; color: #039; 
	}

td {    
	padding: 8px;
	background: #e6e6ff;
	border-bottom: 1px solid #fff;
	color: #000066;
	border-top: 1px solid transparent; 
	}

tr:hover td { background: #d0dafd; color: #339; }
